body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #E6F3FF;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.profile-info {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.toggle-container {
    display: flex;
    align-items: center;
}

/* Estilos para el interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mensaje {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.mensaje.activo {
    background-color: #f44336;
    color: white;
}

.mensaje.inactivo {
    background-color: #afafaf;
    color: white;
}

/* Estilos para el chat */
.chat-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.chat-messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-form {
    display: flex;
    gap: 10px;
}

.chat-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.chat-form button {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-form button:hover {
    background-color: #0b7dda;
}

.chat-form input[type="file"] {
    display: none;
}

.chat-form label {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.chat-form label:hover {
    background-color: #0b7dda;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
}

.message.location {
    background-color: #e1f5fe;
}

.message img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-top: 5px;
}